.profile {
  padding: 20px;
  border: 1px solid orange;
  width: 80%;
  .selection {
    border: 1px solid red;
    .char {
      display: flex;
      background-color: aquamarine;
      border-radius: 10px;
      justify-content: space-between;
      margin: 10px;
      cursor: pointer;
      .name {
        padding-left: 10px;
      }
      .status {
        padding-right: 10px;
        font-style: italic;
        color: orange;
      }
    }
    .active {
      background-color: aqua;
    }
  }
}
